body {
  margin: 0;
  font-family: -apple-system, "Helvetica Neue", Arial, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dad3c4;
  color: #db727d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  max-width: 400px;
  width: 100%;
  margin: 15vh auto 0;
  text-align: center;
  font-size: 1.05rem;
}

.Mui-disabled {
  color: grey !important;
}
